body {
    font-family: Arial, Helvetica, sans-serif;
}

.heroes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: stretch;
}

.hero {
    display: flex;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 20px;
    width: 30%;
    min-width: 250px;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
    font-size: 1.4rem;
}

p {
    font-size: 1rem;
    text-align: center;
    margin: 5px 0;
}

.hero_img {
    width: 100%;
}

.like {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 10px;
    height: 40px;
}

.like_img {
    width: 15%;
    text-align: center;
    fill: black;
}

.like_img:hover {
    fill: gold;
}