* {
    box-sizing: border-box;
    margin: 0;
}

html {
    /* margin: 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(239, 235, 235);
    min-width: 500px;
}

main {
    width: 70%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    background: rgb(220, 35, 35);
    color: white;
    padding: 15px;
}

.box {
    border: 1px solid rgb(220, 35, 35);
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.text {
    width: 45%;
    text-align: right;
}

.element {
    width: 45%;
    text-align: left;
}

input[type="text"],
input[type="number"],
select {
    border: 1px solid rgb(212, 210, 210);
    padding: 10px;
    width: 100%;
}

input[type="radio"] {
    margin: 5px 10px 5px 0;
}

.btn-calc {
    border: 1px solid rgb(220, 35, 35);
    background: rgb(220, 35, 35);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

.owners {
    display: none;
}

.visibled {
    display: flex;
}

.data {
    /* padding: 10px 20px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 1px solid rgb(220, 35, 35);
    margin: 0 0 10px 0;
    /* gap: 5%; */
}

.row_data {
    width: 45%;
    padding: 10px;
    min-width: 250px;
}

h2 {
    margin: 20px 0 0 0;
    text-align: center;
    background: rgb(220, 35, 35);
    color: white;
    padding: 15px;
}

.output {
    font-weight: bold;
}