body,
h1,
h2,
h3,
p {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 50px;

    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        & h1 {
            font-size: 18px;
            padding-left: 12px;

            & a {
                text-decoration: none;
                color: black;
            }
        }
    }

    .button_cart {
        background: #5222D0;
        border-radius: 100px;
        color: white;
        box-sizing: border-box;
        padding: 15px;
        border-width: 0;
        font-size: 13px;
        font-weight: bolder;

        & img {
            padding-left: 5px;
        }
    }
}

h2 {
    font-size: 60px;
    text-transform: uppercase;
}

main {
    width: 40%;
    box-sizing: border-box;

    & p {
        font-size: 20px;
        margin: 10px 0 30px 0;
    }

    & .button_buy {
        background: #5222D0;
        border-radius: 100px;
        font-size: 35px;
        color: white;
        box-sizing: border-box;
        padding: 28px 33px;
        border-width: 0;

        & img {
            margin-left: 16px;
        }
    }
}

nav {
    box-sizing: border-box;
    margin: 150px 0 80px 0;

    & a {
        text-decoration: none;
        font-size: 20px;
        color: #5222D0;
        margin-right: 34px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    margin: 80px 0 0 120px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.aside {
    & img {
        width: 100%;
    }
}

.opportunities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
        width: 31%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding: 35px;
        margin: 10px 20px 10px 0;

        & h3 {
            font-size: 30px;
            text-transform: uppercase;
            margin: 23px 0 10px 0;
        }

        & p {
            font-size: 20px;
        }
    }

    &__item:hover {
        border: 1px solid #BB2247;
        box-sizing: border-box;
    }

}

.item__form {
    background: #EC615B;
    box-sizing: border-box;
    padding: 25px 18px;

    &__title {
        color: #FFFFFF;
    }

    & input[type=text] {
        font-size: 20px;
        color: black;
        padding: 9px 18px;
        box-sizing: border-box;
    }

    & button {
        background: #5222D0;
        border-radius: 100px;
        font-size: 15px;
        color: white;
        box-sizing: border-box;
        padding: 28px 33px;
        border-width: 0;
        margin-top: 25px;
    }
}