html,
body,
h1,
p,
h2 {
    margin: 0;
}

body {
    background: #FFFDF7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    height: 960px;
    width: 1412px;
    background: #255447;
    border-radius: 34.6597px;
    display: grid;
    padding: 60px;
    grid-template-areas:
        "block_1 block_1"
        "block_2 block_3";
    gap: 100px;
}

.block_1 {
    grid-area: block_1;
    display: grid;
    grid-template-columns: 200px auto [block_ref];
    justify-content: space-between;
    align-content: center;
}

.block_ref a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin-left: 50px;
}

.ref-title {
    font-size: 36px;
    color: white;
    vertical-align: middle;
    align-content: center;
    height: 36px;
}

.ref-title span {}

.button {
    padding: 20px 24px;
    background: #F8DE5F;
    color: #255447;
    font-size: 14px;
    border-radius: 35px;
}

.block_2 {
    grid-area: block_2;
    align-self: center;
}

.block_2 h1 {
    font-size: 96px;
    text-transform: uppercase;
    background: linear-gradient(95.61deg, #FFFFFF 45.53%, rgba(255, 255, 255, 0) 167.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.block_2 p {
    color: #FFFFFF;
    font-size: 16px;
}

.block_3 {
    grid-area: block_3;
}

.mission {
    display: grid;
    padding: 60px;
    grid-template-areas:
        "m_block_1 m_block_1 m_block_1"
        "m_block_2_1 m_block_2_2 m_block_3"
        "m_block_2_3 m_block_2_4 m_block_3";
    gap: 36px;
}

.m_block_1 {
    grid-area: m_block_1;
    /* background: rgb(249, 233, 93); */
    display: grid;
    grid-template-columns: 500px auto [block_ref];
    justify-content: space-between;
    align-content: flex-start;
    margin: 100px 0;
}

.m_block_1 h2 {
    font-size: 48px;
}

.m_block_2_1 {
    grid-area: m_block_2_1;
}

.m_block_2_2 {
    grid-area: m_block_2_2;
}

.m_block_2_3 {
    grid-area: m_block_2_3;
}

.m_block_2_4 {
    grid-area: m_block_2_4;
}

.m_block_2_1,
.m_block_2_2,
.m_block_2_3,
.m_block_2_4 {
    padding: 50px 23px;

    /* background: rgb(249, 233, 93); */
    width: 389px;
    height: 150px;
    border: 1px dashed #DDDDDD;
    border-radius: 35px;
}

.m_block_2_title {
    font-weight: 800;
    font-size: 20px;
    color: #272626;
}

.m_block_2_text {
    font-size: 14px;
    color: rgba(39, 38, 38, 0.7);
}

.m_block_3 {
    grid-area: m_block_3;
    background: white;
    width: 368px;
    border-radius: 35px;
    padding: 10px;
    display: grid;
    grid-template: 1/2;
    justify-self: center;
    align-self: center;
}

.m_block_3 img {
    border: 0.962049px dashed #DDDDDD;
    border-radius: 35px;
    grid-row: 1;
    grid-column: 1;
}

.m_block_3 h3 {
    align-self: center;
    padding: 15px;
    grid-row: 1;
    grid-column: 1;
    font-weight: 800;
    font-size: 34.6338px;
}

.m_block_3 p {
    align-self: self-end;
    padding: 15px;
    grid-row: 1;
    grid-column: 1;
    color: #3A3737;
    font-size: 16px;
}

.catalog {
    display: grid;
    padding: 60px;
    width: 1412px;
    grid-template-columns: 1fr;
    grid-row: 130px 1fr;

}

.catalog h2 {
    font-size: 48px;
    justify-self: center;
    margin-bottom: 50px;
}

.catalog_block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    gap: 50px;
    justify-content: space-between;
    align-self: center;
}

.catalog_item {
    width: 411px;
    height: 394px;
    background: rgba(247, 246, 249, 0.45);
    border-radius: 12px;
    padding-top: 30px;
    display: grid;
}

.catalog_item h3 {
    text-align: center;
    font-size: 28px;
}

.catalog_item img {
    align-self: flex-end;
    justify-self: center;
}

footer {
    width: 1412px;
    height: 334px;
    background: #29574A;
    border-bottom-left-radius: 34.6597px;
    border-bottom-right-radius: 34.6597px;
    display: grid;
    padding: 60px 60px 0 60px;
    grid-template-columns: 406px auto repeat(3, 250px);
    grid-template-rows: 1fr;
}

.footer_item a {
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
}

.footer_item h3 {
    font-size: 24px;
    color: #FFFFFF;
}

.footer_item p {
    font-size: 14px;
    color: #FFFFFF;
    grid-column: 1;
    margin-bottom: 20px;
}

.f_2 {
    grid-column: 3;
}

.f_3 {
    grid-column: 4;
}

.f_4 {
    grid-column: 5;
}