#ris {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    border: 2px solid forestgreen;
}

#panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    width: 100px;
    height: auto;
    background: black;
    color: white;
    border-radius: 15px;
    padding: 10px;
}

input[type='text'] {
    padding: 10px;
}

img {
    width: 400px;
    height: 300px;
}

h2 {
    text-align: center;
}

.task {
    border: 1px dashed lightslategray;
    margin: 20px;
    padding: 20px;
    text-align: center;
}