body {
    font-family: Arial, Helvetica, sans-serif;
}

h2,
p {
    margin: 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: rgb(150, 47, 47);
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.what_find,
.found {
    width: 60%;
    margin: 0 auto;
    padding: 40px;
    background: rgb(245, 225, 228);
}

.what,
.number,
.find_button {
    padding: 10px 20px;
    font-size: 1.2rem;
    width: 30%;
}

.find_button {
    background: rgb(150, 47, 47);
    color: rgb(245, 225, 228);
    border: 0;
}

.error {
    color: rgb(237, 20, 20);
    font-size: 2rem;
    text-align: center;
}

.answer {
    font-size: 1.5rem;
    text-align: center;
}

.title {
    text-decoration: underline;
    margin-bottom: 10px;
}